<h1>Listing championships</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>Finish date</th>
      <th>Sport</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @championships.each do |championship| %>
      <tr>
        <td><%= championship.name %></td>
        <td><%= championship.start_date %></td>
        <td><%= championship.finish_date %></td>
        <td><%= championship.sport %></td>
        <td><%= link_to 'Show', championship %></td>
        <td><%= link_to 'Edit', edit_championship_path(championship) %></td>
        <td><%= link_to 'Destroy', championship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Championship', new_championship_path %>
